 body {
        margin: 0;
        box-sizing: border-box;
        background-image: url('bg.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #image {
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        margin: 0;
    }  
    #display {
        font-size: 2.5rem;
        font-family: sans-serif;
        color: hsl(0, 100%, 99%);
        text-shadow: 2px 2px 2px hsl(0, 5%, 28%);
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -220%); 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    #control {
        display: flex;
        justify-content: center; 
        gap: 10px;
     margin-top: -30px;
    }
    #control button {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        background-color: #333; 
        text-align: center;
    }
    #laps {
        margin-top: 20px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem; 
        font-family: 'Courier New', Courier, monospace; 
        padding: 10px;
        font-weight: bolder;
    }
    
    #laps li{
        margin-bottom: 10px;
    }

    #laps {
        margin-bottom: 3px; 
    }
    
    #clearAllBtn {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: #333;
        background-color: white;
        text-align: center;
        margin-top: 5px; 
        display: block; 
        width: auto; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    
      #playPauseBtn:hover{
           background-color: #646161;
        }
        #lapBtn:hover{
            background-color: #646161;
        }
        #resetBtn:hover
        {
            background-color: #646161;
        }
        


        